# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# unimplemented files
/components/SizeWrapper.js
/data/destinationsAll.js
/utils/navigation.js
/styles/_config.scss
/styles/styles.scss

/components/widgets/SingleCarousel.js
# /components/widgets/CarouselItem.tsx
/pages/api/attractions
/pages/api/destinations/[stateName]
/data/attractions/temp.js
/data/attractions/temp0.js
/data/attractions/temp1.js
/data/attractions/temp2.js
/data/attractions/temp3.js
/data/attractions/temp4.js
/data/allItinerariesnbsp.js
/data/itinerarySectionsOriginal.js
/extra
